{% extends "base.html" %}
{% load static %}

{% block title %} Update Student {% endblock title %}

{% block content %}
<div class="container">
    <h2>Update Student</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Student Name</label>
        <input type="text" id="name" name="name" value="{{student.name}}">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" value="{{student.email}}">
        <label for="age">Age</label>
        <input type="text" id="age" name="age" value="{{student.age}}">
        <label for="phone">Phone Number</label>
        <input type="text" id="phone" name="phone" value="{{student.phone}}">
        <label for="photo">Profile Photo</label>
        <input type="file" id="photo" name="photo" value="{{student.photo}}">
        <button type="submit">Update Student</button>
        <p>Go Back to <a href="/">Dashboard</a></p>
    </form>
</div>
{% endblock content %}